@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62%;
}

body {
  box-sizing: border-box;
  background-color: #25282a;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 4.8rem;
  color: #e6f5ff;
  text-align: center;
  margin-bottom: 2rem;
}

.slider {
  max-width: 75em;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 1.5rem;
  overflow: hidden;
}

.slider__content {
  grid-column: 1/-1;
  display: flex;
  border-radius: 0.8rem;
}

.slider__controls {
  display: flex;
  justify-content: end;
}

.slider__descriptions {
  display: flex;
  font-size: 3.8rem;
  letter-spacing: 2px;
  max-width: 30rem;
  color: #e6f5ff;
  font-family: 'Lato', sans-serif;
}

.description {
  display: none;
  transform: translateX(100%);
  transition: all 0.5s;
}

.control-button {
  width: 3.8rem;
  height: 4rem;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.8rem;
}

.control-circle {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: #71abfe solid 0.4rem;
  background-color: #71abfe;
}

.control-check {
  display: none;
}

.img {
  width: 100%;
  display: inline-block;
  transition: all 0.7s;
}

.control-button:hover .control-circle {
  border: #0977ed solid 0.4rem;
  background-color: #0977ed;
}

#slide-1:checked ~ .slider__controls .slide-control-1,
#slide-2:checked ~ .slider__controls .slide-control-2,
#slide-3:checked ~ .slider__controls .slide-control-3,
#slide-4:checked ~ .slider__controls .slide-control-4 {
  background-color: transparent;
  border: #0977ed solid 0.4rem;
}

#slide-1:checked ~ .slider__content .img-1,
#slide-1:checked ~ .slider__content .img-2,
#slide-1:checked ~ .slider__content .img-3,
#slide-1:checked ~ .slider__content .img-4 {
  transform: translateX(0%);
}

#slide-2:checked ~ .slider__content .img-1,
#slide-2:checked ~ .slider__content .img-2,
#slide-2:checked ~ .slider__content .img-3,
#slide-2:checked ~ .slider__content .img-4 {
  transform: translateX(-100%);
}

#slide-3:checked ~ .slider__content .img-1,
#slide-3:checked ~ .slider__content .img-2,
#slide-3:checked ~ .slider__content .img-3,
#slide-3:checked ~ .slider__content .img-4 {
  transform: translateX(-200%);
}

#slide-4:checked ~ .slider__content .img-1,
#slide-4:checked ~ .slider__content .img-2,
#slide-4:checked ~ .slider__content .img-3,
#slide-4:checked ~ .slider__content .img-4 {
  transform: translateX(-300%);
}

/* Transform Description */
#slide-1:checked ~ .slider__descriptions .desc-1,
#slide-1:checked ~ .slider__descriptions .desc-2,
#slide-1:checked ~ .slider__descriptions .desc-3,
#slide-1:checked ~ .slider__descriptions .desc-4 {
  transform: translateX(0%);
}

#slide-1:checked ~ .slider__descriptions .desc-1 {
  display: block;
  animation: shows-text 0.6s;
}

#slide-2:checked ~ .slider__descriptions .desc-1,
#slide-2:checked ~ .slider__descriptions .desc-2,
#slide-2:checked ~ .slider__descriptions .desc-3,
#slide-2:checked ~ .slider__descriptions .desc-4 {
  transform: translateX(0%);
  animation: shows-text 0.6s;
}

#slide-2:checked ~ .slider__descriptions .desc-2 {
  display: block;
  animation: shows-text 0.6s;
}

#slide-3:checked ~ .slider__descriptions .desc-1,
#slide-3:checked ~ .slider__descriptions .desc-2,
#slide-3:checked ~ .slider__descriptions .desc-3,
#slide-3:checked ~ .slider__descriptions .desc-4 {
  transform: translateX(0%);
  animation: shows-text 0.6s;
}

#slide-3:checked ~ .slider__descriptions .desc-3 {
  display: block;
  animation: shows-text 0.6s;
}

#slide-4:checked ~ .slider__descriptions .desc-1,
#slide-4:checked ~ .slider__descriptions .desc-2,
#slide-4:checked ~ .slider__descriptions .desc-3,
#slide-4:checked ~ .slider__descriptions .desc-4 {
  transform: translateX(0%);
}

#slide-4:checked ~ .slider__descriptions .desc-4 {
  display: block;
  animation: shows-text 0.6s;
}

@media only screen and (max-width: 720px) {
  .title {
    font-size: 3.8rem;
  }

  .slider__controls {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-content: center;
  }

  .slider__descriptions {
    grid-column: 1/-1;
    grid-row: 3/4;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 520px) {
  .title {
    font-size: 3rem;
  }

  .slider__descriptions {
    font-size: 2.4rem;
  }
}
@keyframes shows-text {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
